.about {
  color: $white-color;
  background: url("../img/about.png") bottom right no-repeat, url("../img/about-bg.png")  center / cover no-repeat;

  &__title {
    margin-bottom: 50px;
    max-width: 1000px;
  }

  &__list {
    margin-bottom: 60px;
    font-weight: 300;

    > li {
      @include mb(10px);

      position: relative;
      padding-left: 20px;

      &::before {
        content: "•";
        position: absolute;
        left: 0;
        top: 8px;
        font-size: 12px;
        line-height: 1;
        color: $accent-color;
      }
    }
  }
}

@media screen and (max-width: 1440px),
  screen and (max-height: 800px) {
  .about {
    &__title {
      max-width: 805px;
    }

    &__list {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .about {
    background: url("../img/about.png") bottom right / 750px no-repeat, url("../img/about-bg.png")  center / cover no-repeat;
  }
}

@media screen and (max-width: 960px) {
  .about {
    &__title {
      margin-bottom: 20px;
      max-width: 527px;
    }

    &__list {
      margin-bottom: 30px;

      > li {
        line-height: 20px;

        &::before {
          top: 5px;
        }
      }
    }

    &__btn {
      width: 100%;
      max-width: 360px;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    overflow: hidden;
    background: url("../img/about.png") bottom right / 527px no-repeat, url("../img/about-bg-mobile.png") center / cover no-repeat;

    &__inner {
      justify-content: flex-start;
      padding-bottom: 300px;
    }
  }
}

@media screen and (max-width: 575px) {
  .about {
    background:
      url("../img/about.png") bottom right -50px / 527px no-repeat,
      url("../img/about-bg-mobile.png") center / cover no-repeat;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 170px;
      background: linear-gradient(180deg, rgba(8, 5, 19, 0%) 43.33%, rgba(8, 5, 19, 62%) 100%);
    }

    &__btn {
      position: relative;
      z-index: 2;
      margin: auto auto 0;
    }

    &__inner {
      min-height: 660px;
    }
  }
}
