.contacts {
  color: $white-color;
  background: linear-gradient(180deg, #080513 9.9%, rgba(14, 4, 28, 50%) 141.23%), url("../img/contacts-bg.jpg") center / cover no-repeat;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
    height: 100%;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 50px;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  &__items {
    display: flex;
    align-items: center;

    a {
      @include mr(45px);

      transition: transform $transition;

      @include hover {
        transform: scale(1.05);
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;

    ul {
      display: flex;
    }

    li {
      @include mr(20px);
    }

    a {
      display: inline-block;
      transition: transform $transition;

      @include hover {
        transform: scale(1.1);
      }
    }
  }

  &__socials-caption {
    margin-right: 20px;
  }
}

.contacts-form {
  border-radius: 10px;
  padding: 50px 160px 40px;
  background: linear-gradient(0deg, #fff, #fff), linear-gradient(87.71deg, #ff4e00 0%, #ec9f05 100%);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    margin-right: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: $main-color;
  }

  &__select-wrapper {
    width: 65%;
  }

  &__textarea {
    margin-bottom: 30px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    gap: 30px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__btn {
    margin-right: 30px;
  }
}

@media screen and (max-height: 900px) {
  .contacts {
    &__subtitle {
      margin-bottom: 20px;
    }

    &__bottom {
      padding-bottom: 10px;
    }
  }

  .contacts-form {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 1440px) {
  .contacts {
    &__subtitle {
      margin-bottom: 20px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__bottom {
      padding: 20px 0;
    }

    &__items {
      margin-bottom: 32px;
      font-size: 24px;
      line-height: 1.2;

      a {
        @include mr(0);
        @include mb(12px);
      }
    }

    &__row {
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: auto 250px;
      padding-bottom: 40px;
      gap: 40px;
    }

    &__socials-caption {
      margin-right: 0;
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 1.2;
    }

    &__socials {
      text-align: center;

      ul {
        justify-content: center;
      }

      img {
        width: 50px;
        height: 50px;
      }
    }

    &__bottom,
    &__socials,
    &__items {
      display: block;
    }
  }

  .contacts-form {
    padding: 30px 20px 10px;
    font-size: 16px;

    &__textarea {
      margin-bottom: 10px;
      min-height: 80px;
    }

    &__head,
    &__row {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    &__wrapper {
      position: relative;
      justify-content: flex-start;
      height: auto;
      min-height: 100%;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__form {
      margin: 0 -10px 30px;
    }

    &__row {
      display: block;
    }

    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .contacts-form {
    border-radius: 0;
    padding: 20px 15px 30px;

    &__head {
      display: block;
      margin-bottom: 10px;
    }

    &__textarea {
      margin-bottom: 15px;
      min-height: 120px;
    }

    &__title {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__row {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    &__select-wrapper {
      width: 100%;
    }
  }
}

@media screen and (max-width: 575px) {
  .contacts {
    &__socials-caption {
      margin-right: 0;
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 16px;
    }

    &__items a {
      @include mr(0);
      @include mb(12px);
    }

    &__items,
    &__socials {
      flex-direction: column;
      align-items: center;
    }
  }

  .contacts-form {
    &__buttons {
      flex-direction: column-reverse;
    }

    &__btn {
      margin-top: 20px;
      margin-right: 0;
      width: 100%;
      max-width: 450px;
    }
  }
}

@media screen and (max-width: 575px) {
  .contacts {
    background:
      linear-gradient(180deg, #080513 9.9%, rgba(14, 4, 28, 50%) 141.23%),
      url("../img/contacts-bg-mob.jpg") center bottom 85px / cover no-repeat;
  }
}

@media screen and (max-width: 450px) {
  .contacts-form {
    &__buttons {
      align-items: flex-start;
    }
  }
}
