.header {
  padding: 50px 0 55px;

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__logo {
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-left: 30px;
  }
}
