.hero {
  &__inner {
    position: relative;
    z-index: 2;
  }

  &__content {
    position: relative;
    z-index: 2;
    margin-bottom: auto;
    max-width: 770px;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 60px;
    max-width: 560px;
    font-weight: 300;
  }

  &__img {
    position: absolute;
    right: -100px;
    bottom: -45px;
  }

  &__btn-wrapper {
    display: inline-block;
  }

  &__bg-img-wrapper {
    position: absolute;
    right: -180px;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
  }

  &__bg-img {
    &-lg,
    &-mobile {
      display: none;
    }
  }

  &__bg-title {
    position: absolute;
    left: -70px;
    right: 0;
    top: auto;
    bottom: -50px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 800px;
    line-height: 0.8;
    text-align: center;
    text-transform: uppercase;
    color: rgba(#e7ecf2, 0.5);

    &--1 {
      top: -40px;
      bottom: auto;
      font-weight: 900;
      font-size: 480px;
    }
  }
}

@media screen and (max-width: 1440px),
  screen and (max-height: 800px) {
  .hero {
    &__subtitle {
      font-size: 36px;
      line-height: 1.4;
    }

    &__title {
      font-size: 80px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__bg-title {
      bottom: -10px;
      font-size: 600px;

      &--1 {
        top: -10px;
        bottom: auto;
        font-size: 350px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .hero {
    &__bg-img-wrapper {
      right: -300px;
    }

    &__img {
      right: -50px;

      img {
        width: 700px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .hero {
    &__bg-img-wrapper {
      right: -410px;
    }

    &__img {
      right: -50px;

      img {
        width: 640px;
      }
    }
  }
}

@media screen and (max-width: 960px) and (max-height: 900px) {
  .hero__text {
    display: none;
  }
}

@media screen and (max-width: 960px) and (max-height: 800px) {
  .hero__img {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .hero {
    &__title {
      max-width: 350px;
      font-size: 48px;
    }

    &__inner {
      align-items: center;
      padding-bottom: 350px;
    }

    &__bg-img-mobile {
      position: absolute;
      left: 0;
      bottom: -100px;
      z-index: -1;
      display: block;
      width: 1000px;
      max-width: none;
    }

    &__bg-img-wrapper {
      display: none;
    }

    &__img {
      right: 0;
      bottom: -40px;

      img {
        width: 555px;
      }
    }

    &__subtitle {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 1.25;
    }

    &__text {
      max-width: 290px;
    }

    &__bg-title {
      bottom: -11px;
      font-size: 260px;

      &--1 {
        top: auto;
        bottom: 200px;
        font-size: 150px;
      }
    }

    &__bg-img,
    &__bg-img-lg {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    &__img {
      display: none;
    }

    &__bg-img-mobile {
      left: auto;
      right: -208px;
      bottom: -164px;
    }

    &__bg-title {
      bottom: -21px;
      font-size: 210px;

      &--1 {
        top: auto;
        bottom: 142px;
        font-size: 115px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .hero {
    &__btn-wrapper {
      display: block;
    }

    &__btn {
      width: 100%;
    }

    &__text {
      display: none;
    }

    &__bg-img-mobile {
      left: -86px;
      right: auto;
      bottom: 0;
      width: 700px;
    }

    &__bg-title {
      left: -20px;
    }
  }
}

@media screen and (max-width: 450px) {
  .hero {
    &__bg-img-mobile {
      width: 621px;
    }
  }
}

@media screen and (max-width: 375px) {
  .hero {
    &__title {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 575px) and (max-height: 650px) {
  .hero {
    &__inner {
      padding-bottom: 230px;
    }
  }
}

@media screen and (min-height: 1090px) and (min-width: 1920px) {
  .hero {
    &__bg-title {
      bottom: 5%;

      &--1 {
        top: 10%;
        bottom: auto;
      }
    }

    &__bg-img {
      display: none;

      &-lg {
        display: block;
      }
    }
  }
}
