.menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 34;
  display: none;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 30px 20px;
  width: 100%;
  height: 100%;
  max-width: 340px;
  background-color: $white-color;
  opacity: 0;
  transform: translateX(100%);
  transition: $menu-transition;

  &__logo {
    margin-bottom: 30px;

    svg {
      width: 176px;
    }
  }

  &__btn {
    width: 100%;
  }

  &__nav {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 23px;
    text-transform: none;

    > ul {
      display: block;
      margin-bottom: 30px;

      > li {
        @include mr(0);
        @include mb(30px);
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 37px;

    a {
      @include mb(17px);

      display: block;
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__socials {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li {
      @include mr(20px);
    }
  }

  &__socials-caption {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 16px;
  }

  &.is-active {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 575px) {
  .menu {
    padding-top: 10px;
    max-width: 100%;

    &__logo {
      margin-bottom: 15px;
    }

    &__nav > ul > li {
      @include mb(0);

      > a {
        display: block;
        padding: 15px 0;
      }
    }
  }
}