/* stylelint-disable no-unknown-animations */

.motogirl {
  position: absolute;
  right: 20vw;
  bottom: -45px;
  z-index: 7;
  will-change: transform, filter;

  &__img {
    position: absolute;
    left: 0;
    bottom: 0;
    perspective: 150px;
    -webkit-transform: translateZ(0);
    transform-style: preserve-3d;
    will-change: transform;
  }

  &__bike {
    position: relative;

    img {
      max-width: 596px;
    }
  }

  &__body {
    left: 96px;
    bottom: 65px;
    z-index: 3;
    perspective-origin: left center;
    transform-origin: left center;

    img {
      max-width: 356px;
    }

    &--main {
      clip-path: polygon(0 0, 100% 0%, 100% 45%, 0 45%);
      animation: body 1.2s ease-in-out infinite alternate;
    }

    &--leg {
      left: 97px;
      bottom: 70px;
      clip-path: polygon(0 45%, 100% 45%, 100% 100%, 0 100%);
      animation: leg 1.2s ease-in-out infinite alternate;
    }
  }

  &__hand {
    left: 273px;
    bottom: 339px;
    perspective-origin: left center;

    // animation: hand 1.2s ease-in-out infinite alternate;

    img {
      max-width: 167px;
    }
  }

  &__face {
    left: 231px;
    bottom: 388px;
    z-index: 2;
    perspective-origin: left center;
    animation: face 0.7s ease-in-out infinite alternate;

    img {
      max-width: 50px;
    }
  }

  &__hair {
    $tail-size: 15%;
    $left-hair-size: 28%;
    $center-hair-size: 47%;
    $right-hair-size: 10%;
    $left-hair-end-position: calc($tail-size + $left-hair-size);
    $center-hair-end-position: calc($left-hair-end-position + $center-hair-size);
    $right-hair-end-position: calc($center-hair-end-position + $right-hair-size);

    left: 7px;
    bottom: 402px;
    z-index: 3;

    img {
      max-width: 276px;
    }

    &--tail {
      left: 8px;
      z-index: 3;
      clip-path: polygon(0 0, $tail-size 0, $tail-size 100%, 0 100%);
      perspective-origin: left center;
      transform-origin: left center;

      // transform-origin: top;
      animation: hair-tail 1s ease-in-out infinite alternate;
    }

    &--left {
      clip-path:
        polygon(
          $tail-size 0,
          $left-hair-end-position 0,
          $left-hair-end-position 100%,
          $tail-size 100%
        );
      perspective-origin: left center;
      transform-origin: left center;

      // animation: hair-left 1s ease-in-out infinite alternate;
    }

    &--center {
      left: 6px;
      clip-path:
        polygon(
          $left-hair-end-position 0,
          $center-hair-end-position 0,
          $center-hair-end-position 100%,
          $left-hair-end-position 100%
        );
      perspective-origin: left center;
      transform-origin: center;

      // animation: hair-center 0.8s ease-in-out infinite alternate;
    }

    &--right {
      left: 5px;
      bottom: 403px;
      clip-path:
        polygon(
          $center-hair-end-position 0,
          $right-hair-end-position 0,
          $right-hair-end-position 100%,
          $center-hair-end-position 100%
        );
      perspective-origin: right center;
      transform-origin: right;
      animation: hair-right 0.8s ease-in-out infinite alternate;
    }
  }

  &__notebook {
    left: 350px;
    bottom: 310px;
    z-index: 2;

    img {
      max-width: 108px;
    }
  }

  &__light {
    left: 354px;
    bottom: 315px;
    animation: light-blinking 1s linear infinite;

    img {
      max-width: 100px;
    }
  }

  &__back-wheel {
    left: -27px;
    bottom: 6px;

    img {
      max-width: 200px;
    }
  }

  &__front-wheel {
    left: 485px;
    bottom: 14px;

    img {
      max-width: 200px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .motogirl {
    right: 80px;
  }
}

@media screen and (max-width: 1280px) {
  .motogirl {
    right: -25px;

    &__content {
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 1100px) {
  .motogirl {
    &__content {
      transform: scale(0.8);
    }
  }
}

@media screen and (max-width: 960px) {
  .motogirl {
    right: 100px;
    bottom: -100px;

    &__content {
      transform: scale(0.7);
    }
  }
}

@media screen and (max-width: 768px) {
  .motogirl {
    display: none;
  }
}
