.projects {
  color: $white-color;
  background: #1a1b1c;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1161px;
    height: 780px;
    background: rgba(#ff5d39, 0.25);
    filter: blur(200px);
    transform: translate(-50%, -50%);
  }

  &__inner {
    position: relative;
    z-index: 3;
    justify-content: flex-end;
    padding-top: 80px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
  }

  &__pagination {
    margin: 0 30px;
    font-weight: 200;
    font-size: 64px;
    line-height: 60px;

    &-mobile {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__slider {
    height: 100%;
    max-width: 100%;
    max-height: 1050px;
  }

  &__item {
    display: flex;
    box-sizing: border-box;
  }

  &__content {
    position: relative;
    margin-right: 40px;
    width: 77%;

    picture {
      display: flex;
      height: 100%;
    }
  }

  &__content-link {
    display: block;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 80px;
    max-width: 260px;
    font-weight: 300;

    > p {
      margin-bottom: 50px;
    }

    > ul {
      margin-bottom: 30px;

      > li {
        @include mb(12px);

        position: relative;
        padding-left: 20px;

        &::before {
          content: "•";
          position: absolute;
          left: 0;
          top: 8px;
          font-size: 12px;
          line-height: 1;
          color: $accent-color;
        }
      }
    }
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }

  &__link {
    margin-top: auto;
    transition: color $transition;

    @include hover {
      &:hover {
        color: $accent-color;
      }
    }
  }

  &__prev {
    margin-right: 10px;
    transform: rotate(180deg);
  }

  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__prev,
  &__next {
    border: 1px solid #b0b6c5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url("../img/arrow-icon.svg") center no-repeat;
    transition: $transition;
    cursor: pointer;

    &:focus,
    &:active {
      border-color: $accent-color;
    }

    &.swiper-button-disabled {
      opacity: 0.5;

      @include hover {
        border-color: #b0b6c5;
      }
    }

    @include hover {
      border-color: $accent-color;
    }
  }
}

@media screen and (max-width: 1440px) {
  .projects {
    &__pagination {
      font-size: 54px;
      line-height: 56px;
    }

    &__name {
      font-size: 32px;
      line-height: 36px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .projects {
    &::after {
      width: 360px;
      height: 500px;
    }

    &__inner {
      padding-top: 40px;
    }

    &__slider {
      max-height: 100%;
    }

    &__header {
      justify-content: center;
      margin-bottom: 20px;
    }

    &__btn {
      width: 100%;
      max-width: 360px;

      &::after {
        content: "о кейсе";
        margin-left: 5px;
        font: inherit;
      }
    }

    &__info {
      display: block;
      margin-bottom: 30px;
      padding-bottom: 0;
      max-width: 100%;
      text-align: center;

      > p {
        margin-bottom: 20px;
      }

      > ul,
      .projects__link {
        display: none;
      }
    }

    &__navigation {
      display: none;
    }

    &__content {
      display: inline-block;
      align-self: center;
      margin: 0;
      width: 100%;
      height: 100%;
      max-width: 600px;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0%) 66.67%, rgba(0, 0, 0, 60%) 100%);
      }

      picture {
        justify-content: center;
      }

      img {
        width: 100%;
        height: 100%;

        // max-height: 40vh;
      }
    }

    &__item {
      flex-direction: column-reverse;
    }

    &__pagination {
      margin: 0 0 0 20px;
      font-size: 36px;
      line-height: 40px;
    }

    .projects__pagination-mobile {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;
      z-index: 3;
      display: flex;
      justify-content: center;
      margin: 0 auto;

      .swiper-pagination-bullet {
        margin: 0 7px;
        width: 6px;
        height: 6px;
        background-color: rgba($white-color, 0.25);

        &.swiper-pagination-bullet-active {
          background-color: $white-color;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projects {
    &__name {
      margin-bottom: 15px;
      font-size: 24px;
      line-height: 30px;
    }
  }
}

@media screen and (max-width: 650px) {
  .projects {
    &__content {
      max-width: 320px;
    }
  }
}

@media screen and (max-width: 375px) {
  .projects {
    &__title,
    &__pagination {
      font-size: 32px;
    }
  }
}
