.projects {
  z-index: 2;
  color: $white-color;
  background: #1a1b1c;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1161px;
    height: 780px;
    background: rgba(#ff5d39, 0.25);
    filter: blur(200px);
    transform: translate(-50%, -50%);
  }

  &__inner {
    position: relative;
    z-index: 3;
    justify-content: flex-end;
    padding-top: 80px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
  }

  &__pagination {
    margin: 0 30px;
    min-width: 209px;
    font-weight: 200;
    font-size: 64px;
    line-height: 60px;

    &-mobile {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    margin-left: 65px;
  }

  &__slider {
    height: 100%;
    max-width: 100%;
    max-height: 1050px;
  }

  &__item {
    display: flex;
    box-sizing: border-box;
  }

  &__content {
    position: relative;
    margin-right: 40px;
    padding-top: 30px;
    width: 860px;
  }

  &__img {
    img {
      width: 100%;
    }

    &--tablet,
    &--mobile {
      display: none;
    }
  }

  &__img-wrapper {
    height: 100%;
  }

  &__content-link {
    display: block;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 60px;
    max-width: 260px;
    font-weight: 300;

    > p {
      margin-bottom: 50px;
    }

    > ul {
      margin-bottom: 30px;

      > li {
        @include mb(12px);

        position: relative;
        padding-left: 20px;

        &::before {
          content: "•";
          position: absolute;
          left: 0;
          top: 8px;
          font-size: 12px;
          line-height: 1;
          color: $accent-color;
        }
      }
    }
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }

  &__link {
    margin-top: auto;
    transition: color $transition;

    @include hover {
      &:hover {
        color: $accent-color;
      }
    }
  }

  &__prev {
    margin-right: 10px;
    transform: rotate(180deg);
  }

  &__play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__btn {
    margin-bottom: 15px;
  }

  &__prev,
  &__next {
    border: 1px solid #b0b6c5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url("../img/arrow-icon.svg") center no-repeat;
    transition: $transition;
    cursor: pointer;

    &:focus,
    &:active {
      border-color: $accent-color;
    }

    &.swiper-button-disabled {
      opacity: 0.5;

      @include hover {
        border-color: #b0b6c5;
      }
    }

    @include hover {
      border-color: $accent-color;
    }
  }
}

.projects-bar {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px 7px 0 0;
  padding: 5px 10px;
  width: 100%;
  background: #3a3a3a;

  &__icon {
    display: flex;
  }

  &__buttons {
    display: flex;
  }

  &__btn {
    @include mr(6px);

    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: $main-color;

    &--red {
      background-color: #e55b46;
    }

    &--yellow {
      background-color: #ffd34b;
    }

    &--green {
      background-color: #6acc41;
    }
  }

  &__center {
    margin: 0 auto;
    border-radius: 5px;
    width: 340px;
    background: #464646;
  }

  &__url {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #959595;
  }
}

@media screen and (max-width: 1440px),
  screen and (max-height: 800px) {
  .projects {
    &::after {
      top: 150px;
      width: 100%;
      height: calc(100% - 150px);
      transform: translateX(-50%);
    }

    &__header {
      margin-bottom: 50px;
    }

    &__inner {
      padding-top: 40px;
    }

    &__info {
      padding-bottom: 40px;
      min-width: 260px;

      > p {
        margin-bottom: 30px;
      }
    }

    &__pagination {
      min-width: 176px;
      font-size: 54px;
      line-height: 56px;
    }

    &__name {
      font-size: 32px;
      line-height: 36px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .projects {
    &__name {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 30px;
    }

    &__img {
      &--desktop {
        display: none;
      }

      &--tablet {
        display: flex;
      }
    }

    &__content {
      margin-right: 20px;
      width: 100%;
      max-width: 720px;
    }

    &__info {
      min-width: 300px;

      > p {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .projects {
    &::after {
      top: 50%;
      width: 360px;
      height: 500px;
      transform: translate(-50%, -50%);
    }

    .container {
      padding: 0;
    }

    &__inner {
      padding-top: 30px;
    }

    &__slider {
      max-height: 100%;
    }

    &__header {
      justify-content: center;
      margin-bottom: 20px;
      padding: 0 var(--container-offset);
    }

    &__btn {
      width: 100%;
      max-width: 360px;

      &::after {
        content: "о кейсе";
        margin-left: 5px;
        font: inherit;
      }
    }

    &__info {
      display: block;
      margin-bottom: 30px;
      padding: 0 var(--container-offset);
      max-width: 100%;
      text-align: center;

      > p {
        margin-bottom: 20px;
      }

      > ul,
      .projects__link {
        display: none;
      }
    }

    &__navigation {
      display: none;
    }

    &__content {
      display: inline-block;
      align-self: center;
      margin: 0;
      padding: 30px var(--container-offset) 0;
      width: 100%;
      height: 100%;
      max-width: 660px;
      max-height: calc(100% - 196px);
      text-align: center;
    }

    &__bar {
      left: var(--container-offset);
      width: calc(100% - var(--container-offset) * 2);
    }

    &__img-wrapper {
      .simplebar-content-wrapper {
        &::before {
          content: "";
          position: fixed;
          left: var(--projects-img-left);
          right: var(--projects-img-left);
          bottom: 0;
          z-index: 5;
          height: var(--projects-img-height);
          background: linear-gradient(180deg, rgba(0, 0, 0, 0%) 66.67%, rgba(0, 0, 0, 60%) 100%);
        }
      }
    }

    &__item {
      flex-direction: column-reverse;
    }

    &__pagination {
      margin: 0 0 0 20px;
      min-width: 118px;
      font-size: 36px;
      line-height: 40px;
    }

    .projects__pagination-mobile {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;

      .swiper-pagination-bullet {
        flex-grow: 1;
        margin: 0 7px;
        border-radius: 4px;
        width: auto;
        height: 6px;
        background-color: rgba($white-color, 0.25);
        transition: $transition;

        &.swiper-pagination-bullet-active {
          background-color: $white-color;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .projects {
    &__content {
      max-height: calc(100% - 196px);
    }

    &__header {
      display: block;
      margin-bottom: 30px;
    }

    &__pagination {
      position: absolute;
      right: 15px;
      top: 95px;
      min-width: auto;
      font-size: 24px;
      line-height: 30px;
    }

    &__name {
      margin-bottom: 15px;
      font-size: 24px;
      line-height: 30px;
    }

    &__info {
      text-align: left;
    }
  }
}

@media screen and (max-width: 575px) {
  .projects {
    padding-bottom: 0;

    &__img {
      &--tablet {
        display: none;
      }

      &--mobile {
        display: flex;

        img {
          max-height: 60vh;
          object-position: top;
        }
      }
    }

    &__img-wrapper {
      &::before {
        content: "";
        position: absolute;
        left: -13px;
        right: -13px;
        bottom: 0;
        z-index: 5;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0%) 66.67%, rgba(0, 0, 0, 60%) 100%);
      }
    }

    &__pagination {
      top: 62px;
    }

    &__info {
      margin-bottom: 20px;
    }

    &__name {
      margin-bottom: 10px;
      padding-right: 110px;
    }
  }

  .projects-bar {
    &__center {
      width: auto;
      background-color: transparent;
    }

    &__url {
      font-size: 16px;
      line-height: 20px;
      color: $white-color;
    }

    &__icon {
      justify-content: flex-end;
      width: 42px;
    }
  }
}

@media screen and (max-width: 375px) {
  .projects {
    &__title {
      font-size: 32px;
    }
  }
}
