.services {
  &__title {
    margin-bottom: 64px;
  }

  &__list {
    counter-reset: services;
    position: relative;
    width: 100%;
  }

  &__item {
    width: 440px;
    max-width: 100%;

    &.is-active {
      .services__content {
        display: block;
      }

      .services__name {
        color: $accent-color;

        &::before {
          color: $accent-color;
        }

        &::after {
          background-position: center right;
          /* stylelint-disable-next-line no-unknown-animations */
          animation: 2s arrow-pulse forwards ease;
        }
      }
    }
  }

  &__name {
    counter-increment: services;
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    margin-bottom: 32px;
    padding-top: 6px;
    padding-right: 42px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    transition: color $transition;
    cursor: pointer;
    user-select: none;

    &::before {
      content: "0" counter(services);
      margin-top: -6px;
      margin-right: 3px;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #a8b5c9;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 32px;
      height: 16px;
      background: url("../img/arrow-orange-icon.svg") center right 140px no-repeat;
      opacity: 0;
      transform: translateY(-50%);
      transition: $transition;
    }

    @include hover {
      color: $accent-light-color;
    }
  }

  &__content {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    width: calc(100% - 500px);
  }

  &__subtitle {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
  }
}

.service-list {
  margin: 40px 0;

  &__item {
    @include mb(19px);
  }

  &__heading {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 30px;

    span {
      margin-left: 11px;
      font-size: 14px;
      line-height: 16px;
      white-space: nowrap;
      color: $accent-light-color;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 1440px),
  screen and (max-height: 800px) {
  .services {
    &__inner {
      justify-content: flex-start;
    }

    &__item {
      width: 400px;
    }

    &__content {
      width: calc(100% - 430px);
    }

    &__name {
      margin-bottom: 25px;
      font-size: 30px;
      line-height: 36px;
    }

    &__title {
      margin-bottom: 30px;
    }
  }

  .service-list {
    margin: 20px 0;
  }
}

@media screen and (min-height: 850px) {
  .services {
    &__inner {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1280px) {
  .services {
    &__name {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

@media screen and (max-width: 960px) {
  .services {
    &__inner {
      padding: 20px 0;
    }

    &__title {
      margin-bottom: 34px;
    }

    &__subtitle {
      display: none;
    }

    &__item {
      @include mb(22px);

      width: auto;

      &.is-active {
        .services__name {
          &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2285 1.22803L7.48591 5.97063L1.7433 1.22803' stroke='%23F86A01' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
            transform: rotate(180deg) translateY(4px);
          }
        }
      }
    }

    &__content {
      position: static;
      padding: 12px 0 0 23px;
      width: auto;
    }

    &__btn {
      width: 100%;
      max-width: 300px;
      background-position: center right 70px;
    }

    &__name {
      margin: 0;
      padding-top: 0;
      padding-right: 32px;
      font-size: 24px;
      line-height: 28px;

      &::after {
        width: 15px;
        height: 8px;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2285 1.22803L7.48591 5.97063L1.7433 1.22803' stroke='%23161616' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        background-position: center right;
        opacity: 1;
        transition: $transition;
      }

      &:focus,
      &:active,
      &:hover {
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.2285 1.22803L7.48591 5.97063L1.7433 1.22803' stroke='%23f47c02' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  .service-list {
    margin: 20px 0;

    &__heading {
      margin-bottom: 8px;
      font-size: 20px;
      line-height: 1.2;
    }

    &__item {
      @include mb(9px);
    }
  }
}
