@charset "UTF-8";

:root {
  --content-width: 1180px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + var(--container-offset));
}

/* stylelint-disable */

/* stylelint-disable */

/* stylelint-disable */

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/../fonts/SuisseIntl UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/../fonts/SuisseIntl Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/../fonts/SuisseIntl Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/../fonts/SuisseIntl Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/../fonts/SuisseIntl SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/../fonts/SuisseIntl Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("../fonts/../fonts/SuisseIntl Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  outline-color: rgba(248, 106, 1, 0.2);
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: "SuisseIntl", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #161616;
  background-color: #fff;
}

img,
video {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font: inherit;
}

.page-wrapper {
  position: relative;
  overflow: hidden;
  -webkit-transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
  -o-transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.disable-scroll {
  overflow: hidden;
}

.disable-scroll body {
  overflow: hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}

.input-reset[type=number] {
  -moz-appearance: textfield;
}

.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-outer-spin-button,
.input-reset::-webkit-inner-spin-button,
.input-reset::-webkit-search-results-decoration {
  display: none;
}

.section-padding {
  padding: 80px 0;
}

.section {
  position: relative;
  height: 100vh;
}

.section__inner {
  height: 100vh;
}

.section__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
}

.color-gradient {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  /* stylelint-disable-line property-no-unknown */
  background: -o-linear-gradient(5.84deg, #ff4e00 1.78%, #ec9f05 57.44%), #161616;
  background: linear-gradient(84.16deg, #ff4e00 1.78%, #ec9f05 57.44%), #161616;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: #f86a01;
}

.color-gradient-white {
  -webkit-text-fill-color: transparent;
  color: #fff;
  -webkit-background-clip: text;
  background-color: #fff;
}

.play-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  width: 140px;
  height: 140px;
}

.play-btn::before,
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#fff)), #ffa412;
  background: -o-linear-gradient(bottom, #fff, #fff), #ffa412;
  background: linear-gradient(0deg, #fff, #fff), #ffa412;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.play-btn::before {
  width: 100%;
  height: 100%;
  opacity: 0.25;
}

.play-btn::after {
  width: 120px;
  height: 120px;
  opacity: 0.5;
}

.play-btn__inner {
  position: relative;
  z-index: 3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: url("../img/play-icon.svg") center no-repeat;
  background-color: #fff;
}

.burger {
  position: relative;
  display: none;
  border: none;
  padding: 0;
  width: 20px;
  height: 16px;
  color: #161616;
  background-color: transparent;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  -webkit-transition: top 0.35s ease-in-out ease-in-out, -webkit-transform 0.35s ease-in-out ease-in-out;
  transition: top 0.35s ease-in-out ease-in-out, -webkit-transform 0.35s ease-in-out ease-in-out;
  -o-transition: transform 0.35s ease-in-out ease-in-out, top 0.35s ease-in-out ease-in-out;
  transition: transform 0.35s ease-in-out ease-in-out, top 0.35s ease-in-out ease-in-out;
  transition: transform 0.35s ease-in-out ease-in-out, top 0.35s ease-in-out ease-in-out, -webkit-transform 0.35s ease-in-out ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - 2px);
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger.is-active {
  z-index: 7;
}

.burger.is-active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger.is-active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger.is-active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
  max-height: 92vh;
}

.modal__inner {
  position: relative;
  overflow: auto;
  margin: auto;
  border-radius: 12px;
  padding: 40px 30px;
  max-width: 800px;
  max-height: 100%;
  background-color: #000;
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 40px;
  background: 0;
  cursor: pointer;
}

.modal__close-icon {
  width: 48px;
  height: 48px;
}

.modal[aria-hidden=true] {
  display: none;
}

.modal[aria-hidden=false] {
  display: block;
}

.modal.is-open {
  opacity: 1;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 30px;
  padding: 16px;
  min-width: 120px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.btn:focus,
.btn:active {
  background-color: #f47c02;
}

.btn--primary {
  padding: 15px 20px;
  min-width: 260px;
  font-weight: 600;
  background: -o-linear-gradient(5.84deg, #ff4e00 1.78%, #ec9f05 57.44%), #161616;
  background: linear-gradient(84.16deg, #ff4e00 1.78%, #ec9f05 57.44%), #161616;
}

.btn--lg {
  padding: 20px;
  width: 360px;
  max-width: 100%;
}

.btn--arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #f86a01;
  padding: 15px 50px 15px 20px;
  background: url("../img/arrow-icon.svg") center right 18px no-repeat;
}

.btn--arrow-black {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #f86a01;
  padding: 15px 60px 15px 30px;
  color: #161616;
  background: url("../img/arrow-black-icon.svg") center right 18px no-repeat;
}

.btn--outline {
  border: 1px solid rgba(22, 22, 22, 0.5);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #161616;
}

.nav {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

.nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav > ul > li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.nav > ul > li:not(:last-child) {
  margin-right: 30px;
}

.nav > ul > li > a {
  position: relative;
  display: inline-block;
}

.nav > ul > li > a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #000;
  -webkit-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}

.header {
  padding: 50px 0 55px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__btn {
  margin-left: 30px;
}

.hero {
  background: url("../img/hero-bg.svg") center right -180px no-repeat;
}

.hero__inner {
  position: relative;
  z-index: 2;
}

.hero__content {
  max-width: 770px;
}

.hero__title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-transform: uppercase;
}

.hero__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.hero__text {
  margin-bottom: 60px;
  max-width: 560px;
  font-weight: 300;
}

.hero__img {
  position: absolute;
  right: -100px;
  bottom: 0;
}

.hero__bg-title {
  position: absolute;
  left: -70px;
  right: 0;
  top: auto;
  bottom: -50px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 800px;
  line-height: 0.8;
  text-align: center;
  text-transform: uppercase;
  color: rgba(231, 236, 242, 0.5);
}

.hero__bg-title--1 {
  top: -40px;
  bottom: auto;
  font-weight: 900;
  font-size: 480px;
}

.projects {
  color: #fff;
  background: #1a1b1c;
}

.projects::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1161px;
  height: 780px;
  background: rgba(255, 93, 57, 0.25);
  -webkit-filter: blur(200px);
  filter: blur(200px);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.projects__inner {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 80px;
}

.projects__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 70px;
}

.projects__pagination {
  margin: 0 30px;
  font-weight: 200;
  font-size: 64px;
  line-height: 60px;
}

.projects__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.projects__slider {
  margin-top: auto;
  max-width: 100%;
  max-height: 640px;
}

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.projects__content {
  position: relative;
  margin-right: 40px;
  width: 77%;
}

.projects__content picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 80px;
  max-width: 260px;
  font-weight: 300;
}

.projects__info > p {
  margin-bottom: 50px;
}

.projects__info > ul {
  margin-bottom: 30px;
}

.projects__info > ul > li {
  position: relative;
  padding-left: 20px;
}

.projects__info > ul > li:not(:last-child) {
  margin-bottom: 12px;
}

.projects__info > ul > li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 12px;
  line-height: 1;
  color: #f86a01;
}

.projects__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.projects__link {
  margin-top: auto;
  -webkit-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.projects__prev {
  margin-right: 10px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.projects__play {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.projects__prev,
.projects__next {
  border: 1px solid #b0b6c5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: url("../img/arrow-icon.svg") center no-repeat;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.projects__prev:focus,
.projects__prev:active,
.projects__next:focus,
.projects__next:active {
  border-color: #f86a01;
}

.projects__prev.swiper-button-disabled,
.projects__next.swiper-button-disabled {
  opacity: 0.5;
}

.services__title {
  margin-bottom: 64px;
}

.services__list {
  counter-reset: services;
  position: relative;
}

.services__item {
  width: 440px;
  max-width: 100%;
}

.services__item.is-active .services__content {
  display: block;
}

.services__item.is-active .services__name {
  color: #f86a01;
}

.services__item.is-active .services__name::before {
  color: #f86a01;
}

.services__item.is-active .services__name::after {
  background-position: center right;
  opacity: 1;
}

.services__name {
  counter-increment: services;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 32px;
  padding-top: 6px;
  padding-right: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  -webkit-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.services__name::before {
  content: "0" counter(services);
  margin-top: -6px;
  margin-right: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #a8b5c9;
}

.services__name::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 32px;
  height: 16px;
  background: url("../img/arrow-orange-icon.svg") center right -40px no-repeat;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.services__content {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  width: calc(100% - 500px);
}

.services__subtitle {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}

.service-list {
  margin: 40px 0;
}

.service-list__item:not(:last-child) {
  margin-bottom: 19px;
}

.service-list__heading {
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 30px;
}

.service-list__heading span {
  margin-left: 11px;
  font-size: 14px;
  line-height: 16px;
  color: #f47c02;
}

.service-list__subtitle {
  font-size: 14px;
  line-height: 16px;
}

.about {
  color: #fff;
  background: url("../img/about.png") bottom right no-repeat, url("../img/about-bg.png") center/cover no-repeat;
}

.about__title {
  margin-bottom: 50px;
  max-width: 1000px;
}

.about__list {
  margin-bottom: 60px;
}

.about__list > li {
  position: relative;
  padding-left: 20px;
}

.about__list > li:not(:last-child) {
  margin-bottom: 10px;
}

.about__list > li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 12px;
  line-height: 1;
  color: #f86a01;
}

.footer {
  padding: 15px 0;
}

@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}

@media (any-hover: hover) {
  .btn--primary:hover:hover {
    -webkit-box-shadow: 0 0 12px #f86a01;
    box-shadow: 0 0 12px #f86a01;
  }

  .btn--arrow:hover:hover {
    -webkit-box-shadow: 0 0 4px #f86a01;
    box-shadow: 0 0 4px #f86a01;
    background-position: center right 22px;
  }

  .btn--arrow-black:hover:hover {
    -webkit-box-shadow: 0 0 2px #f86a01;
    box-shadow: 0 0 2px #f86a01;
    background-position: center right 22px;
  }

  .btn--outline:hover:hover {
    border-color: #f86a01;
    color: #fff;
    background-color: #f86a01;
  }

  .nav > ul > li > a:hover::before {
    width: 100%;
  }

  .projects__link:hover:hover {
    color: #f86a01;
  }

  .projects__prev.swiper-button-disabled:hover,
  .projects__next.swiper-button-disabled:hover {
    border-color: #b0b6c5;
  }

  .projects__prev:hover,
  .projects__next:hover {
    border-color: #f86a01;
  }

  .services__name:hover {
    color: #f47c02;
  }
}
/*# sourceMappingURL=main.css.map */