@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes arrow-pulse {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate-wheel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

@keyframes light-blinking {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  59% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  79% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  97% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hair-right {
  0% {
    transform: rotateX(-1deg) translateX(-1px) scaleX(1);
  }

  100% {
    transform: rotateX(0);
  }
}

@keyframes hair-tail {
  0% {
    transform: rotateZ(1deg)  translateX(1px) scaleX(1);
  }

  100% {
    transform: rotateZ(-1deg)   translateX(-1px) scaleX(1.1);
  }
}

// @keyframes hair-tail {
//   0% {
//     transform: rotateZ(8deg) skewY(3deg) translateX(20px) translateY(15px) scaleX(1.1);
//   }

//   100% {
//     transform: rotateZ(-8deg) skewY(-3deg)  translateX(4px) translateY(-15px) scaleX(1.05);
//   }
// }

@keyframes hair-left {
  0% {
    transform: rotate(1deg) scaleY(1) translateY(-4px) scaleX(1.02);
  }

  100% {
    transform: rotate(-1deg) translateY(2px)  scaleY(1.01) scaleX(1.01);
  }
}

@keyframes hair-center {
  0% {
    transform: scaleY(0.99);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes body {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.005) translateX(1px);
  }
}

@keyframes leg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1deg) translateY(2px) translateX(2px) scale(0.995);
  }
}

@keyframes face {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1.01) translateY(1px);
  }
}

@keyframes hand {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1) translateY(2px) rotate(-1deg);
  }
}
