.btn {
  display: inline-block;
  border: none;
  border-radius: 30px;
  padding: 16px;
  min-width: 120px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: $white-color;
  background: transparent;
  transition: $transition;
  cursor: pointer;

  &:focus,
  &:active {
    background-color: $accent-light-color;
  }

  &--primary {
    padding: 15px 20px;
    min-width: 260px;
    font-weight: 600;
    background: $accent-gradient;

    @include hover {
      box-shadow: 0 0 12px $accent-color;
    }
  }

  &--lg {
    padding: 20px;
    min-width: 360px;
  }

  &--arrow {
    border: 1px solid $accent-color;
    padding: 15px 50px 15px 20px;
    background: url("../img/arrow-icon.svg") center right 20px no-repeat;

    @include hover {
      box-shadow: 0 0 4px $accent-color;
      background-position: center right 22px;
    }
  }

  &--arrow-black {
    border: 1px solid $accent-color;
    padding: 15px 60px 15px 30px;
    color: $main-color;
    background: url("../img/arrow-black-icon.svg") center right 18px no-repeat;

    @include hover {
      box-shadow: 0 0 2px $accent-color;
      background-position: center right 22px;
    }
  }

  &--outline {
    border: 1px solid rgba($main-color, 0.5);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: $main-color;

    @include hover {
      border-color: $accent-color;
      color: $white-color;
      background-color: $accent-color;
    }
  }
}

@media screen and (max-width: 575px) {
  .btn--lg {
    min-width: auto;
  }
}
