.page-wrapper {
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  height: 100%;
  max-width: var(--container-width);
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.disable-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: $white-color;

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.section-padding {
  padding: 80px 0;
}

.section {
  position: relative;
  height: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
  }

  &__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 60px;
    text-transform: uppercase;
    color: $white-color;
  }
}

.color-gradient {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* stylelint-disable-line property-no-unknown */
  background: linear-gradient(84.16deg, #ff4e00 1.78%, #ec9f05 57.44%), #161616;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: $accent-color;
}

.color-gradient-white {
  -webkit-text-fill-color: transparent;
  color: #fff;
  -webkit-background-clip: text;
  background-color: #fff;
}

.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  width: 140px;
  height: 140px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background: linear-gradient(0deg, #fff, #fff), #ffa412;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 100%;
    height: 100%;
    opacity: 0.25;
  }

  &::after {
    width: 120px;
    height: 120px;
    opacity: 0.5;
  }

  &__inner {
    position: relative;
    z-index: 3;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: url("../img/play-icon.svg") center no-repeat;
    background-color: $white-color;
  }
}

.arrow-up {
  position: fixed;
  right: 30px;
  bottom: 110px;
  z-index: 33;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
  background: rgba(#74737a, 0.75);
  opacity: 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ec9d04 0%, #fe5000 100%);
    opacity: 0;
    transition: $transition;
  }

  > img {
    position: relative;
    z-index: 2;
  }

  @include hover {
    &::before {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1440px) {
  .section-padding {
    padding: 40px 0;
  }

  .section {
    &__title {
      font-size: 48px;
      line-height: 1;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 1.2;
    }
  }
}

@media screen and (max-width: 1280px) {
  .arrow-up {
    bottom: 65px;
  }
}

@media screen and (max-width: 1024px) {
  .arrow-up {
    right: 10px;
    bottom: 15px;
  }

  .section {
    &__title {
      font-size: 36px;
    }

    &__subtitle {
      font-size: 24px;
    }

    &--scroll {
      overflow: auto;
      height: 100%;

      > .container {
        height: auto;
      }
    }
  }

  .play-btn {
    width: 70px;
    height: 70px;

    &::after {
      width: 60px;
      height: 60px;
    }

    &__inner {
      width: 50px;
      height: 50px;
      background-size: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .arrow-up {
    bottom: 50px;
  }
}

@media screen and (max-width: 375px) {
  .section__title {
    font-size: 32px;
  }
}
