.page-wrapper {
  position: relative;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.disable-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: $white-color;

  &[type="number"] {
    -moz-appearance: textfield;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.section-padding {
  padding: 80px 0;
}

.section {
  position: relative;

  // min-height: 100vh;
  height: 100vh;

  &__inner {
    // min-height: 100vh;
    height: 100vh;
  }

  &__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 60px;
    text-transform: uppercase;
    color: $white-color;
  }
}

.color-gradient {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* stylelint-disable-line property-no-unknown */
  background: linear-gradient(84.16deg, #ff4e00 1.78%, #ec9f05 57.44%), #161616;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: $accent-color;
}

.color-gradient-white {
  -webkit-text-fill-color: transparent;
  color: #fff;
  -webkit-background-clip: text;
  background-color: #fff;
}

.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  width: 140px;
  height: 140px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    background: linear-gradient(0deg, #fff, #fff), #ffa412;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 100%;
    height: 100%;
    opacity: 0.25;
  }

  &::after {
    width: 120px;
    height: 120px;
    opacity: 0.5;
  }

  &__inner {
    position: relative;
    z-index: 3;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: url("../img/play-icon.svg") center no-repeat;
    background-color: $white-color;
  }
}
