
.form {
  &__error {
    margin-top: 10px;
  }

  &__file {
    display: flex;
    align-items: center;
    cursor: pointer;

    input {
      display: none;
    }

    img {
      margin-right: 10px;
    }

    span {
      color: rgba($main-color, 0.5);
    }
  }

  &__textarea {
    min-height: 120px;
    resize: none;
  }

  &__input,
  &__textarea {
    border: none;
    border-radius: 7px;
    padding: 12px 20px;
    width: 100%;
    font: inherit;
    color: $main-color;
    background: #f4f6f9;

    &::placeholder {
      color: rgba($main-color, 0.5);
    }
  }
}
