.modal {
  $transition: opacity 0.3s ease-out;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgba($main-color, 85%);
  opacity: 0;
  transition: $transition;

  &__wrapper {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
    max-height: 92vh;
  }

  &__inner {
    position: relative;
    overflow: auto;
    margin: auto;
    border-radius: 10px;
    padding: 60px 110px 40px;
    width: 100%;
    max-width: 1160px;
    max-height: 100%;
    background: linear-gradient(0deg, #fff, #fff), linear-gradient(87.71deg, #ff4e00 0%, #ec9f05 100%);
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }

  &__text {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 400px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: transparent;
    border: 1px solid #b0b6c5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: none;
    background: 0;
    transition: border $transition;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #ec9d04 0%, #fe5000 100%);
      opacity: 0;
      transition: $transition;
    }

    svg {
      position: relative;
      z-index: 2;
    }

    path {
      transition: $transition;
    }

    @include hover {
      border-color: transparent;

      &::before {
        opacity: 1;
      }

      path {
        fill: $white-color;
      }
    }
  }

  &[aria-hidden="true"] {
    display: none;
  }

  &[aria-hidden="false"] {
    display: block;
  }

  &.is-open {
    opacity: 1;
  }
}

.modal-contact {
  &__inner {
    max-width: 700px;
  }

  &__fields {
    margin: 0 auto;
    max-width: 285px;

    > * {
      @include mb(20px);
    }
  }
}

.modal-tender {
  &__footer {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    gap: 15px 30px;
  }

  &__link-field {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .modal {
    &__btn {
      width: 100%;
      min-width: auto;
      max-width: 360px;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
    }

    &__text {
      font-size: 16px;
    }

    &__inner {
      padding: 60px 40px 40px;
    }

    &__close {
      width: 35px;
      height: 35px;

      svg {
        width: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .modal-tender {
    &__row {
      grid-template-columns: 1fr;
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 575px) {
  .modal {
    &__inner {
      padding: 50px 20px 30px;
    }
  }
}
