.nav {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;

  > ul {
    display: flex;
    flex-wrap: wrap;

    > li {
      @include mr(30px);

      flex-shrink: 0;

      > a {
        position: relative;
        display: inline-block;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -4px;
          width: 0;
          height: 2px;
          background-color: $black-color;
          transition: width $transition;
        }

        @include hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-height: 100%;
    font-size: 20px;
    line-height: 1.2;

    > ul {
      display: block;
      margin-right: 0;
      margin-bottom: 20px;

      > li {
        @include mr(0);

        > a {
          display: block;
          padding: 15px 0;
        }
      }
    }
  }
}
